<h3>Реестр платежей</h3>
<?php if ( empty($payments) ): ?>
	<p>Операции по оплате квитанций не проводились.</p>
	<?php else: ?>
	<form name="cf" action="" method="post">
	<p><strong>На дату</strong>
	<input type="text" class="regular-text calendar" style='width:90px' name="reestr_date" value="<?= $reestr_date; ?>" /></p>
	<p><button type="submit" class="button">Создать реестр</button></p>
	</form>

	<?php if (isset($reestr_create)): ?>
		<?php if ($reestr_create===true): ?>
		<p>Реестр успешно создан и отправлен. <a href='<?= '../tmp/'.$filename ?>' target="_blank">Скачать сейчас...</a></p>
		<?php else: ?>
		<p style="color: #ff0000;">Ошибка отправки почты. <?= $mail->ErrorInfo?></p>
		<?php endif; ?>	
	<?php endif; ?>	

<?endif;?>
