<?php if (MInB_get('view')!='nbr'):?>
    <h2>Управление заказами</h2>
    <?php if (empty($payments)): ?>
        <p>В данный момент не создано ни одного заказа.</p>
    <?php else: ?>
        <form name="cf" action="" method="post">
            <table>
                <tr><td style='border-top:none;'>
                    <b>Отобрать заказы по статусу&nbsp;&nbsp;&nbsp;</b>
                    <input type="radio" name="search_select" value="" <?if (MInB_post('search_select')!='opl' || MInB_post('search_select')!='noopl') echo 'checked';?>> Все
                    <input type="radio" name="search_select" value="opl" <?if (MInB_post('search_select')=='opl') echo 'checked';?>> Оплачено
                    <input type="radio" name="search_select" value="noopl" <?if (MInB_post('search_select')=='noopl') echo 'checked';?>> Не оплачено
                </td>
                <td style='width:600px;border-top:none;'>
                    <b>Отобрать заказы в промежутке от &nbsp;</b>
                    <input type="text" class="calendar" style='width:128px;text-align:center;' name="dateBegin" value="<?= $dateBegin ?>"/>
                    <b>&nbsp;до &nbsp;</b>
                    <input type="text" class="calendar" style='width:128px;text-align:center;' name="dateEnd" value="<?= $dateEnd ?>"/>
                </td></tr>
            </table>
            <p><button type="submit">Обновить список</button></p>
            <p>
                <b>Страница</b>
                <input style="width:60px;text-align:right" name="cpg" value='<?echo $cpg?>'>
                <span style="position:relative">
                    <span style='cursor:pointer;font-size:20px;<?if ($cpg<$pages) echo "color:#f00"; else echo "color:#ccc";?>;padding:0;position:relative;top:-7px;z-index:3000;margin:0 5px 0 0;' onclick="if ($('[name=cpg]').val()<<?echo $pages?>) {$('[name=cpg]').val(parseInt($('[name=cpg]').val())+1);$('[name=cf]').submit();}">+</span>
                    <span style='cursor:pointer;font-size:20px;<?if ($cpg>1) echo "color:#00f"; else echo "color:#ccc";?>;display:inline-block;padding:0;position:absolute;top:4px;left:0px;margin:0 5px 0 0;' onclick="if ($('[name=cpg]').val()>1) {$('[name=cpg]').val(parseInt($('[name=cpg]').val())-1);$('[name=cf]').submit();}">&#8211;</span>
                </span>
                <b>из</b> <?echo $pages?>
            </p>
        </form>

        <table id="MInB_booking_table" class='booking-form'>
            <tr>
                <th>ID</th>
                <th>Номер заказа</th>
                <th>Ф.И.О.</th>
                <th>Дата заказа</th>
                <th>Стартовая сумма</th>
                <th>Оплаченная сумма</th>
                <th>Номер, дата п/п</th>
                <th>Сумма возврата</th>
                <th>Статус заказа</th>
            </tr>
            <?php foreach ($payments as $payment): ?>
                <tr <?if ($payment['params']['status']==7) echo "style='color:#b0b0b0'";?>>
                    <td><a href="<?= $url . '?bookingId=' . $payment['params']['payment_id']; ?>"><?= $payment['params']['payment_id']; ?></a></td>
                    <td><?= $payment['options']['bookingWord']; ?></td>
                    <td><?= $payment['options']['bookingName']; ?></td>
                    <td><?= $payment['options']['bookingDate']; ?></td>
                    <td><?= $payment['params']['startAmount'] / 100; ?> руб.</td>
                    <td>
                        <?php if ($payment['params']['paidAmount'] == 0): ?>
                            <?php if ($payment['params']['status'] == 5): ?>
                                Оплачено, ждёт подтверждения
                            <?php else: ?>
                                Не оплачено
                            <?php endif; ?>
                        <?php else: ?>
                            <?= $payment['params']['paidAmount'] / 100; ?> руб.
                        <?php endif; ?>
                    </td>
                    <td><?php if (!empty($payment['options']['procDate'])) echo '№'.$payment['options']['procPP'].'<br/> от '.$payment['options']['procDate'];?></td>
                    <td><?php if ($payment['params']['refundAmount'] == 0): ?>Не возвращен<?php else: ?><?= $payment['params']['refundAmount'] / 100; ?> руб.<?php endif; ?></td>
                    <td><?= MInB_convertPaymentStatus($payment['params']['status']); ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
    <?php endif; ?>
<?php else: ?>
    <h2 class="">Забронировать</h2>
    <?php if (isset($booking) && isset($booking['payment_id'])): ?>
        <p style="color: #023769;">Создан новый платеж, ID: <strong><?= $booking['payment_id']; ?></strong>.</p>
    <?php endif; ?>
    <?php if ($verifyError): ?>
        <?php if (empty($verifyWord)): ?>
            <p style="color: #ff0000;">Неверная сумма платежа!</p>
        <?php else: ?>
            <p style="color: #ff0000;">Номер заказа уже используется!</p>
        <?php endif; ?>
    <?php endif; ?>
    <form action="?view=nbr" method="post">
        <table class='booking-form'>
            <tr valign="top">
                <td>Сумма оплаты</td>
                <td>
                    <input type="text" name="bookingAmount" placeholder="123.45" value="<?= MInB_escape(MInB_post('bookingAmount')); ?>" /> руб.
                    <p class="description">Сумма, которую нужно будет оплатить клиенту.</p>
                </td>
            </tr>
            <tr valign="top">
                <td>ФИО клиента</td>
                <td>
                    <input type="text" name="bookingName" value="<?= MInB_escape(MInB_post('bookingName')); ?>" />
                    <p class="description">Ф. И. О. клиента, свободный формат ввода.</p>
                </td>
            </tr>
            <tr valign="top">
                <td>Email</td>
                <td>
                    <input type="email" name="bookingEmail" value="<?= MInB_escape(MInB_post('bookingEmail')); ?>" />
                    <p class="description">Адрес эл. почты клиента</p>
                </td>
            </tr>
            <tr valign="top">
                <td>Дата заказа</td>
                <td>
                    <input type="text" class="calendar" name="bookingDate" value="<?= MInB_escape(MInB_post('bookingDate')); ?>" />
                    <p class="description">Дата заказа, свободный формат ввода.</p>
                </td>
            </tr>
            <tr valign="top">
                <td>Описание</td>
                <td>
                    <textarea name="bookingDescription"><?= MInB_escape(MInB_post('bookingDescription')); ?></textarea>
                    <p class="description">Текст который будет выведен клиенту при подтверждении перехода на страницу оплаты.</p>
                </td>
            </tr>
            <tr valign="top">
                <td>Секретное слово</td>
                <td>
                    <input type="text" name="bookingWord" placeholder="Номер заказа" value="<?= MInB_escape(MInB_post('bookingWord')); ?>" />
                    <p class="description">Номер заказа, которое нужно будет сообщить клиенту.</p>
                </td>
            </tr>
        </table>
        <br />
        <p><button type="submit">Создать заказ</button></p>
    </form>
<?php endif; ?>
