<h2>Журнал</h2>

<form action="" method="post">
	<table class="form-table">
		<tr valign="top">
			<td style='width:150px;'>ID заказа</td>
			<td style='border:none;'>
				<input type="text" name="bookingId" placeholder="0" value="<?= MInB_escape(MInB_post('bookingId', 0)); ?>" />
				<p class="description">ID заказа, 0 - чтобы показать все.</p>
			</td>
		</tr>
		<tr valign="top">
			<td>Лимит записей</td>
			<td style='border:none;'>
				<input type="text" class="regular-text" name="limit" placeholder="100" value="<?= MInB_escape(MInB_post('limit', 100)); ?>" />
				<p class="description">Лимит записей в журнале, 0 - чтобы показать все.</p>
			</td>
		</tr>
	</table>
	
	<p><button type="submit">Обновить журнал</button></p>
</form>

<?php if ( empty($logs) ): ?>
	<p>Записей в журнале нет.</p>
<?php else: ?>
	<table id="MInB_booking_table">
		<tr>
			<th>ID</th>
			<th>Дата</th>
			<th>Функция</th>
			<th>Текст</th>
			<th>IP</th>
			<th>Браузер</th>
		</tr>
		<?php foreach ( $logs as &$log ): ?>
			<tr>
				<td><?= $log['payment_id']; ?></td>
				<td><?= $log['date']; ?></td>
				<td><?= $log['location']; ?></td>
				<td><?= $log['text']; ?></td>
				<td><?= $log['ip']; ?></td>
				<td><?= $log['browser']; ?></td>
			</tr>
		<?php endforeach; ?>
	</table>
<?php endif; ?>