
<p>Удаление и изменение доступно только если заказ не оплачен или не находится в Банке в состоянии "Начат"</p>

<?php if ( $updated ): ?>
	<p style="color: #204DB2;">Данные заказа успешно обновлены!</p>
<?php endif; ?>

<form action="" method="post">
	<table class='booking-form'>
		<tr valign="top">
			<td>Сумма оплаты</td>
			<td>
				<input type="text" name="startAmount" value="<?= MInB_escape($payment['params']['startAmount']/100); ?>"<?php if ( $payment['params']['status'] != 0 ): ?> readonly="readonly"<?php endif; ?> /> руб.
				<p class="description">Сумма, которую нужно будет оплатить клиенту.</p>
			</td>
		</tr>		
		<tr valign="top">
			<td style='width:150px;'>ФИО.</td>
			<td>
				<input type="text" name="bookingName" value="<?= MInB_escape($payment['options']['bookingName']); ?>"<?php if ( $payment['params']['status'] != 0 ): ?> readonly="readonly"<?php endif; ?> />
				<p class="description">ФИО клиента, свободный формат ввода.</p>
			</td>
		</tr>
		<tr valign="top">
			<td style='width:150px;'>Email</td>
			<td>
				<input type="email" name="bookingEmail" value="<?= MInB_escape($payment['options']['bookingEmail']); ?>"<?php if ( $payment['params']['status'] != 0 ): ?> readonly="readonly"<?php endif; ?> />
				<p class="description">Адрес эл. почты клиента</p>
			</td>
		</tr>
		<tr valign="top">
			<td>Дата заказа</td>
			<td>
				<input type="text" class="<?php if ( $payment['params']['status'] == 0 ):?> calendar <?php endif; ?>" name="bookingDate" value="<?= MInB_escape($payment['options']['bookingDate']); ?>"<?php if ( $payment['params']['status'] != 0 ): ?> readonly="readonly"<?php endif; ?> />
				<p class="description">Дата заказа, свободный формат ввода.</p>
			</td>
		</tr>
		<tr valign="top">
			<td>Описание</td>
			<td>
				<textarea name="bookingDescription"<?php if ( $payment['params']['status'] != 0 ): ?> readonly="readonly"<?php endif; ?>><?= MInB_escape($payment['options']['bookingDescription']); ?></textarea>
				<p class="description">Текст который будет выведен клиенту при подтверждении перехода на страницу оплаты.</p>
			</td>
		</tr>		
		<tr valign="top">
			<td>Номер заказа</td>
			<td>
				<input type="text" name="bookingWord" placeholder="Слово" value="<?= MInB_escape($payment['options']['bookingWord']); ?>"<?php if ( $payment['params']['status'] != 0 ): ?> readonly="readonly"<?php endif; ?> />
				<p class="description">Номер заказа, которое нужно будет сообщить клиенту.</p>
			</td>
		</tr>
	</table>
	
	<input type="hidden" name="action" value="update" />
	<?php if ( $payment['params']['status'] == 0 ): ?>
	<p><button type="submit">Обновить данные заказа</button></p>
	<?php endif; ?>
</form>

<?php if ( $payment['params']['status'] == 0 ): ?>
	<h2>Доп. действия</h2>
	<form action="" method="post">
		<input type="hidden" name="action" value="delete" />
		<p><button type="submit">Удалить заказ</button></p>
	</form>
<?php endif; ?>
<?php if ( $payment['params']['status'] == 1 || $payment['params']['status'] == 5 || $payment['params']['status'] == 6 ): ?>
	<p><button onclick="window.location='<?= '../?bookingWord='.$payment['options']['bookingWord'].'&createdDate='.$payment['params']['createdDate']?>';return false">Распечатать чек</button></p>
<?php endif; ?>

<?php if ( $payment['params']['status'] != 0 && $payment['params']['status'] != 7 ): ?>
	<form action="" method="post">
		<input type="hidden" name="action" value="getInformation" />
		<p><button type="submit">Получить данные из платежной системы</button></p>
	</form>
	
	<?php if ( isset($information) && is_array($information) ): ?>
		<h2>Результаты запроса</h2>
		<table id="MInB_booking_table" class='booking-form'>
			<tr>
				<td><strong>Ключ</strong></td>
				<td><strong>Значение</strong></td>
			</tr>
			<?php foreach ( $information as $key => &$value ): ?>
				<tr>
					<td><?= $key; ?></td>
					<td><?php var_dump($value); ?></td>
				</tr>
			<?php endforeach; ?>
		</table>
	<?php endif; ?>
<?php endif; ?>

<?php if ( $payment['params']['status'] == 5 ): ?>
	<h2>Подтвердить заказ</h2>
	<form action="" method="post">
		<table class='booking-form'>
			<tr valign="top">
				<th>Сумма</th>
				<td>
					<input type="text" name="bookingAmount" placeholder="123.45" value="<?= $payment['params']['startAmount'] / 100; ?>" />руб.
					<p class="description">Вы можете снять не всю сумму предавторизации, а только ее часть. По-умолчанию введена полная сумма..</p>
				</td>
			</tr>
		</table>
	
		<input type="hidden" name="action" value="approve" />
		<p><button type="submit">Снять средства</button></p>	
	</form>
<?php endif; ?>

<?php 
	if ( $payment['params']['status'] == 1 || $payment['params']['status'] == 6 ): ?>
	<h2>Реверс платежа</h2>
	<form action="" method="post">
		<table class='booking-form'>
			<tr valign="top">
				<th style='width:95px''></th>
				<td>
					<?$a=rand(10,20);$b=rand(10,20); $protcontr=$a+$b;?>
					<p>Для защиты от случайного выполнения операции введите сумму чисел <?= $a?> и <?= $b?></p>
					<input type='hidden' name='protcontr' value=<?= $protcontr?>>
					<p><input type='text' placeholder="Результат" maxlength=3 name='protres'></p>
				</td>
			</tr>
		</table>
	
		<input type="hidden" name="action" value="reverse" />
		<p><button type="submit">Отменить платеж</button></p>
	</form>
<?php endif; ?>

<?php 
	if ( $payment['params']['status'] == 1 || $payment['params']['status'] == 6 ): ?>
	<h2>Возврат средств</h2>
	<form action="" method="post">
		<table class='booking-form'>
			<tr valign="top">
				<th>Сумма</th>
				<td>
					<input type="text" name="bookingAmount" placeholder="123.45" value="<?= $payment['params']['paidAmount'] / 100; ?>" /> руб.
					<p class="description">Вы можете вернуть не всю сумму, а только ее часть.</p>
					<?$a=rand(10,20);$b=rand(10,20); $protcontr=$a+$b;?>
					<p>Для защиты от случайного выполнения операции введите сумму чисел <?= $a?> и <?= $b?></p>
					<input type='hidden' name='protcontr' value=<?= $protcontr?>>
					<p><input type='text' placeholder="Результат" maxlength=3 name='protres'></p>
				</td>
			</tr>
		</table>
	
		<input type="hidden" name="action" value="refund" />
		<p><button type="submit">Вернуть</button></p>
	</form>
<?php endif; ?>

<h2>Операции по заказу</h2>
<?php
$logs = MInB_getPaymentLogs($bookingId, $limit);

if ( $logs === false )
	$logs = array();
?>
	<table class='booking-form' style='width:100%;'>
		<tr>
			<th style='text-align:center;'>Дата</th>
			<th style='text-align:center;'>Действие</th>
			<th style='text-align:center;'>IP-адрес</th>
		</tr>
			<?php foreach ( $logs as &$log ): ?>
			<?php if (empty($log['easy_text'])) continue;?>
			<tr>
				<td style='text-align:center;'><?= $log['date']; ?></td>
				<td style='text-align:center;'><?= $log['easy_text']; ?></td>
				<td style='text-align:center;'><?= $log['ip']; ?></td>
			</tr>
		<?php endforeach; ?>
	</table>