<?php if ( isset($booking) && isset($booking['payment_url']) ): ?>
	<? header("Location: ".$booking['payment_url']);?>
	<script type="text/javascript">
		$(function() {
		$('#dialog').html ('<br/><h4>Выполняется перенаправление, если Вас не переадресовало автоматически нажмите на эту <a href="<?= $processed['payment_url']; ?>"><span style="text-decoration:underline">ссылку<span></h4>').jqmShow();
		window.location = '<?= $booking['payment_url']; ?>';
		});
	</script>
<?php else: ?>
	<?php if ( $founded ) { ?>

		<?
		preg_match("/^\s*(?'rub'\-?\d*)(\.(?'kop'\d*))?\s*$/u", sprintf("%01.2f", $payment['params']['startAmount'] / 100), $match);
		$Rub = $match ['rub'];
		$Kop = $match ['kop'];;
		?>
		<script>
		$(document).ready(function(){
		$('#dialog').css('width','380px').css('left','60%').css('height','auto').css('top','30%').css('padding','20px');
		$('#dialog').html ('<form method="post" action="index.php"><h3>Пожалуйста, проверьте реквизиты оплаты:</h3><br/>'+
		'<h4 style="text-align:left;">Назначение платежа: <span style="font-style:italic;text-align:left;color:#b20404"><?= $description?></span></h4>'+
		'<h4 style="text-align:left;">Заказчик: <span style="font-style:italic;text-align:left;color:#b20404"><?= $payment['options']['bookingName'];?></span></h4>'+
		'<h4 style="text-align:left;">Дата заказа: <span style="font-style:italic;text-align:left;color:#b20404"><?= $payment['options']['bookingDate'];?></span></h4>'+
		'<h4 style="text-align:left;">Описание заказа: <span style="font-style:italic;text-align:left;color:#b20404"><?= str_replace(array("\r\n", "\r", "\n"), '<br>', htmlspecialchars($payment['options']['bookingDescription']));?></span></h4>'+
		'<h4 style="text-align:left;">Сумма платежа: <span style="text-align:left;color:#b20404;font-style:italic;"><?= $Rub?> руб. <?= $Kop?> коп.</span></h4>'+
		'<br/><br/><button id="go" type="submit" name="action" value="pay" class="has-ripple btn-ripple" onfocus="this.blur();">ОПЛАТИТЬ</button>'+
		'<input type=hidden name="bookingWord" value="<?= $payment['options']['bookingWord'];?>">'+
		'</form>'+'<img class="jqmClose" src="images/x.png">').jqmShow();
		});
		</script>
	
	<?php } ?>
<h2>Ошибка номера заказа или времени</h2>


<?php endif; ?>
